<div class="center text">
  <h1 class="center">All About Me</h1>
  <p>I’ve had a broad range of experiences, beginning with my upbringing in the woods and rocky coast of Maine, where people live in close connection with nature. At Maine School of Science and Mathematics I gaineds a solid foundation in mathematical logic and scientific method as well as a persisting appreciation for empirical thought. I’ve always valued experience and adventure more than material gain -- I chose to spend time during the Great Recession working part-time jobs and exploring the country and the world, living in NYC, LA, and Arizona, and traveling in Europe and South America. I learned a strong work ethic and self-discipline by repeatedly establishing myself in new cities. Through travel I gained experience dealing with unexpected challenges and differences of language, culture and worldview.
  </p>
  <p>
    As I’ve matured, I’ve felt the growing desire to put my aptitude for technical problem solving to use. I came to Epicodus with the goal of gaining skills with which to join the booming tech industry and define a career more centrally in my life. After studying Javascript and Ruby development full-time for several months (while working part-time in most of my remaining hours). This time spent getting deep into the workings of various coding frameworks has ensured a thorough understanding of the principles of object-oriented programming and built the technical confidence that I will bring to the job. I see both how much more I have to learn and how well my strengths are suited to this pursuit.
  </p>
</div>
