<div class="text">
  <h1 class="center">Welcome</h1>
  <p>
    I'm Devin, a Portland, Oregon-based web developer looking for a new team. I'm also open to opportunities to freelance so please don't hesitate to get in touch.
  <br>
  <br>
    I've got a diverse set of skills to share, from design, to HTML + CSS + Javascript, all the way to backend frameworks like Ruby on Rails and Angular.
  </p>
</div>
